<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{ response.name }}'s Response</title>


  {% load static %}
  <link rel="stylesheet" href="{% static 'book/css/style1.css' %}">


</head>

<body>
  <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet' type='text/css'>
  <link href="https://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
  <div id="content">
    <h1>Once upon a time</h1>

    <form action="{% url 'agetresponses' %}" autocomplete="on">
      <p>
        <label for="username">Call me</label>
        <textarea cols="40" rows="5" type="text" readonly>{{ response.name }}</textarea>
      </p>
      <p>
        <label for="username">Mail me at</label>
        <textarea cols="40" rows="5" type="text" readonly>{{ response.email }}"</textarea>
      </p>
      <p>
        <label for="username">Gimme a ring at</label>
        <textarea cols="40" rows="5" type="text" readonly>{{ response.phone }}"</textarea>
      </p>
      <p>
        <label for="username">The world became awesome on</label>
        <textarea cols="40" rows="5" type="text" readonly>{{ response.dob }}"</textarea>
      </p>
      <p>
        <label for="username">Something I'd like to share with you</label>
        <textarea cols="40" rows="5" type="text" readonly>{{ response.sharing }}"</textarea>
      </p>
      <p>
        <label for="username">Some suggestions for you</label>
        <textarea cols="40" rows="5" type="text" readonly>{{ response.suggestions }}"</textarea>
      </p>

      <input type="submit" value=" Back" />

    </form>
  </div>


</body>

</html>
